a,
input,
button {
	/*清除点击阴影*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
button {
	/*清除圆角*/
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	margin: 0;
	/*禁止选中文字*/
	-webkit-user-select: none;
}

body * {
	-webkit-user-select: none;
	/*默认字体*/
	font-family: helvetica;
}

body {
	/*用户横竖屏切换的时候，禁止字体缩放*/
	-webkit-text-size-adjust: 100%;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
}

html,
body {
	font-size: 15px;
	height: 100%;
}

/*Flex布局*/
.flex {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.justify-bet {
	justify-content: space-between;
}

.text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/*班级设置头部*/
.set-title-card {
	font-size: 0.93rem;
	padding: 2.1rem 2rem 0rem 2rem;
}

.set-title-card>p {
	font-size: 1.2rem;
	font-weight: bold;
	color: #000000;
}

.set-title-card-left {
	margin-right: 2.23rem;
}

/*选项卡样式*/
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: none;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span {
	display: inline-block;
	height: 100%;
	padding: 0 0.4rem;
	border-bottom: 2px solid #007aff;
}

.mt12 {
	margin-top: 12px;
}

.Hauto {
	height: auto !important;
}

.mui-btn-block {
	padding: 10px 0;
}

::-webkit-input-placeholder {
	color: #c0c4cc;
	font-size: 1rem;
}

::-moz-placeholder {
	color: #c0c4cc;
	font-size: 1rem;
}

:-ms-input-placeholder {
	color: #c0c4cc;
	font-size: 1rem;
}

:-moz-placeholder {
	color: #c0c4cc;
	font-size: 1rem;
}

.black {
	color: #000000;
}

.q-tips {
	display: flex;
	align-items: center;
	height: 100%;
	padding-left: 15px;
}

.q-tips>span {
	font-size: 0.8rem;
	margin-left: 15px;
	color: #dcdfe6;
}

.state-img {
	height: 20px;
	width: 64px;
}

.state-wrap {
	text-align: right;
}

.school-list-wrap {
	padding: 0 16px 20px;
}

.school-list-img {
	padding: 10px 0;
}

.school-list-img>img {
	width: 100%;
}

#segmentedControl>a {
	touch-action: none;
}


/* 对象 */
.obje-content {
	height: 100%;
	padding-top: 0.77rem;
}

.obje-content-content {
	height: calc(100vh - 6.66rem);
	background: #FFFFFF;
	padding: 0rem 1rem;
}

/*复选框的样式*/
.mui-checkbox input[type=checkbox]:before {
	content: '\e413';
	font-size: 1.5rem;
}

.li-label input[type=checkbox]:before {
	font-size: 3rem;
	border: none;
	color: #edf1f6;
}

.mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
	left: 0px;
}

.mui-checkbox input[type=checkbox]:checked:before {
	content: '\e443';
}

.li-label input[type=checkbox]:checked:before {
	content: '';
}

.mui-checkbox.mui-left label,
.mui-radio.mui-left label {
	padding-left: 30px;
	font-size: 1rem;
	margin-top: -3px;
}

.mui-input-row label {
	padding: 11px 15px;
}

/*布局*/
.obje-generations {
	padding-top: 1rem;
}

.obje-grade {
	height: calc(100vh - 10rem);
	overflow: auto;
}

.obje-grade>li {
	margin-bottom: 1rem;
}

.obje-grade-class>li {
	width: 33.33%;
	height: 4.07rem;
	margin-top: 3%;
}

.obje-grade>li>.mui-left {
	margin-top: 0.5rem;
}

.obje-grade-class-li div {
	width: 90%;
	margin: 0 auto;
	background: #edf1f6;
	height: 4.07rem;
	line-height: 4.08rem;
	text-align: center;
}
.liAktv>div {
	background: #E7f1ff;
	color: #3B8BFF;
}
/*按钮*/
.obje-bnt>div {
	height: 3.7rem;
	text-align: center;
	line-height: 3.7rem;
	font-size: 1rem;
}

.obje-bnt-left {
	width: 30%;
	color: #3b8bff;
}

.obje-bnt-rnt {
	width: 70%;
	background: #3b8bff;
	color: #FFFFFF;
}

.objTchu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: none;

}
