<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>登陆</title>
		<script src="../js/mui.min.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1065627_xs9ose09vdn.css">
		<script type="text/javascript" charset="utf-8">
			mui.init();
		</script>
		<style type="text/css">
			.login-title{
				font-size: 24px;
			}
		</style>
	</head>
	<body>
		<div class="login-wrap">
			<div style="login-title">班牌发布登陆</div>
			<div>
				<i class="iconfont icon-user"></i>
				<input type="text" placeholder="请输入账号"/>
			</div>
			<div>
				<i class="iconfont icon-permissions"></i>
				<input type="text" placeholder="请输入密码"/>
			</div>
			<button>立即登陆</button>
		</div>
	</body>
</html>
