<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/font_1065627_jhxyseritsp/iconfont.css">
		<link href="../../css/public.css" rel="stylesheet" />
		<style>
			#scroll,#scroll1{
				height: calc(100vh - 131px);
			}
			.mui-content{
				height: 100vh;
			}
			.cri-list{
				height: calc(100% - 87px);
			}
			.mui-btn-block{
				margin-bottom: 0;
			}
			.cri-list-wrap{
				display: flex;
				width: 100%;
			}
			.cri-list-wrap>img{
				width: 44px;
				height: 44px;
				border-radius: 100%;
				margin-right: 12px;
			}
			.cri-type{
				color: #ff0000;
				border: 1px solid #ff0000;
				padding: 4px 10px;
				display: inline;
				text-align: center;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
			}
			.cri-list-cont{
				width: calc(100% - 122px);
			}
			.mui-table-cell{
				width: 100%;
				display: inline;
			}
			.cri-right{
				justify-content: flex-end;
				display: flex;
				align-items: center;
				width: 89px;
			}
			.cri-list-cont>div:nth-child(2){
				height: 42px;
				text-overflow: -o-ellipsis-lastline;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-clamp: 2;
				-webkit-box-orient: vertical;
				color: #606266;
			}
			.cri-list-cont>div:nth-child(3){
				color: #606266;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" target="_blank" href="../../index.html"></a>
			<a class=" mui-icon mui-icon-home mui-pull-right" href="../../index.html"></a>
			<h1 class="mui-title">通报</h1>
		</header>
		<div class="mui-content">
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#item1">
						<span>班级</span>
					</a>
					<a class="mui-control-item" href="#item2">
						<span>校级</span>
					</a>
				</div>
			</div>
			<div class="cri-list">
				<div id="item1" class="mui-control-content mui-active">
					<div id="scroll" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view" id="OA_task_1">

							</ul>
						</div>
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view" id="OA_task_2">

							</ul>
						</div>
					</div>
				</div>
			</div>
			<a type="button" href="add.html" id="add-activity" class="mui-btn mui-btn-primary mui-btn-block">发通报</a>
		</div>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript">
			(function($) {
				mui.init()
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				$('#scroll1').scroll({
					indicators: true //是否显示滚动条
				});
				var curr = 1;
				var count = 1;
				var curr1 = 1;
				var count1 = 1;

				var listClassSearch = function() {
					var _this = this;
					if (curr <= count) {
						mui.ajax('/phone/selectbulletin.do', {
							data: {
								token: window.localStorage.getItem('token'),
								currPage: curr,
								pageSize: 10,
								level: 2,
								type: 2
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								if (data.code == -3) {
									mui.openWindow({
										id: 'index',
										url: '../login.html'
									});
									return;
								}
								if (data.code == 200) {
									var con = data.data.recordList;

									count = data.data.pageCount;
									var html = document.querySelector('#OA_task_1').innerHTML;
									for (var i = 0; i < con.length; i++) {

										var face = "";
										if (con[i].recognitionObjectType == 1) {
											var face = con[i].userFace;
										} else if (con[i].recognitionObjectType == 2) {
											var face = con[i].classIcon;
										}

										html +=
											`<li class="mui-table-view-cell" data-id="${con[i].recognitionId}">
															<div class="mui-slider-right mui-disabled">
																<a class="mui-btn mui-btn-red mui-icon iconfont icon-del" id="${con[i].recognitionId}"></a>
															</div>
															<div class="mui-slider-handle">
																<div class="mui-table-cell">
																	<div class="cri-list-wrap">
																		<img src=${severAddress}"` +
											face +
											`" alt="">
																		<div class="cri-list-cont">
																			<div class="text-overflow">${con[i].recognitionName}</div>
																			<div>${con[i].recognitionRemark}</div>
																			<div>${con[i].createTime}</div>
																		</div>
																		<div class="cri-right">
																			<div class="cri-type">${con[i].recognitionContent}</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>`
									}
									document.querySelector('#OA_task_1').innerHTML = html
									curr++;
								} else {
									mui.alert(data.msg);
								}
							},
							error: function(xhr, type, errorThrown) {

							}
						});
					} else {
						_this.endPullupToRefresh(true);
					}
				}

				var listSchoolSearch = function() {
					var _this = this;
					if (curr <= count) {
						mui.ajax('/phone/selectbulletin.do', {
							data: {
								token: window.localStorage.getItem('token'),
								currPage: curr1,
								pageSize: 10,
								level: 1,
								type: 2
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								if (data.code == -3) {
									mui.openWindow({
										id: 'index',
										url: '../login.html'
									});
									return;
								}
								if (data.code == 200) {
									var con = data.data.recordList;
									count1 = data.data.pageCount;
									var html = document.querySelector('#OA_task_2').innerHTML;

									for (var i = 0; i < con.length; i++) {
										var face = "";
										if (con[i].recognitionObjectType == 1) {
											var face = con[i].userFace;
										} else if (con[i].recognitionObjectType == 2) {
											var face = con[i].classIcon;
										}

										html +=
											`<li class="mui-table-view-cell" data-id="${con[i].recognitionId}">
															<div class="mui-slider-right mui-disabled">
																<a class="mui-btn mui-btn-red mui-icon iconfont icon-del" id="${con[i].recognitionId}"></a>
															</div>
															<div class="mui-slider-handle">
																<div class="mui-table-cell">
																	<div class="cri-list-wrap">
																		<img src=${severAddress}"` +
											face +
											`" alt="">
																		<div class="cri-list-cont">
																			<div class="text-overflow">${con[i].recognitionName}</div>
																			<div>${con[i].recognitionRemark}</div>
																			<div>${con[i].createTime}</div>
																		</div>
																		<div class="cri-right">
																			<div class="cri-type">${con[i].recognitionContent}</div>
																		</div>
																	</div>
																</div>
															</div>
														</li>`

									}

									document.querySelector('#OA_task_2').innerHTML = html
									curr++;
								} else {
									mui.alert(data.msg);
								}

							},
							error: function(xhr, type, errorThrown) {
								Layer.alert("1")
							}
						});
					} else {
						_this.endPullupToRefresh(true);
					}
				}


				var del = function(id) {
					mui.ajax('/phone/deletebulletin.do', {
						data: {
							token: window.localStorage.getItem('token'),
							id: id
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							if (data.code == -3) {
								mui.openWindow({
									id: 'index',
									url: '../login.html'
								});
								return;
							}
							if (data.code == 200) {
								curr = 1
								curr1 = 1
								document.querySelector('#OA_task_1').innerHTML = ""
								document.querySelector('#OA_task_2').innerHTML = ""
								listClassSearch()
								listSchoolSearch()
							}
						},
						error: function(xhr, type, errorThrown) {

						}
					});
				}



				mui.ready(function() {

					mui("#scroll").pullRefresh({
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: listClassSearch()
						}
					})
					mui("#scroll1").pullRefresh({
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: listSchoolSearch()
						},
					})
					mui(".mui-table-view").on('tap', '.icon-del', function() {
						var id = this.getAttribute("id");
						var btnArray = ['否', '是'];
						mui.confirm('确认要删除？', null, btnArray, function(e) {
							if (e.index == 1) {
								del(id);
							}
						})
					})
				})

			})(mui);
		</script>
	</body>

</html>
