<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1065627_xs9ose09vdn.css">
		<style>
			.icon-btn{
				display: flex;
				color: #3b8bff;
			}
			.icon-btn i{
				margin-right: 5px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">添加选项</h1>
		</header>
		<div class="mui-content">
			<div class="mui-input-group">
				<div class="mui-input-row Hauto mt12">
					<input type="text" placeholder="请输入选项内容" maxlength="40">
				</div>
				<div class="mui-input-row">
					<div class="q-tips">
						<div class="icon-btn">
							<i class="iconfont icon-add"></i>
							<span>添加选项</span>
						</div>
						<span>最多15个选项，每个选项不超过40个字符</span>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/mui.js"></script>
	<script>
		document.querySelector('.icon-btn').addEventListener('tap',function(){
		})
	</script>
</html>
