<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link href="../../css/public.css" rel="stylesheet" />
		<style>
			.Hauto>div{
				padding: 11px 15px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">发报名</h1>
		</header>
		<div class="mui-content">
			<div class="mui-input-group">
				<div class="mui-input-row mt12">
					<label>级别</label>
					<input type="text">
				</div>
				<div class="mui-input-row">
					<label>对象</label>
					<input type="text">
				</div>
			</div>
			<div class="mui-input-group">
				<div class="mui-input-row mt12">
					<label>标题</label>
					<input type="text" placeholder="请输入标题">
				</div>
				<div class="mui-input-row Hauto">
					<div>正文</div>
					<textarea id="textarea" rows="5" placeholder="请输入正文"></textarea>
				</div>
			</div>
			<div class="mui-input-group">
				
			</div>
		</div>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>