<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>视频</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1065627_xs9ose09vdn.css">
		<link href="../../css/public.css" rel="stylesheet" />
		<style type="text/css">
			.mui-card .mui-control-content {
				padding: 10px;
			}

			.mui-control-content {
				height: calc(100vh - 131px);
			}

			.mui-content {
				height: 100vh;
			}

			.mui-btn-block {
				margin-bottom: 0;
			}

			.activity-list .mui-table-view-cell {
				padding: 1.23rem 1rem;
			}

			.mui-table-view-cell:after {
				left: 0;
			}

			.active-item {
				display: flex;
			}

			.active-item>div:last-child {
				text-align: left;
			}

			.active-item>div:first-child {
				width: 6.4rem;
				height: 3.6rem;
				margin-right: 0.7rem;

			}

			.active-item>div:first-child>img {
				width: 6.4rem;
				height: 3.6rem;
			}

			.active-item>div:nth-child(2) {
				line-height: 2rem;
			}

			.active-item>div:nth-child(2)>.opo {
				font-size: 1rem;
				color: #303133;
			}

			.active-item>div:nth-child(2)>.poo {
				font-size: 1rem;
			}

			.end {
				color: #c0c4cc !important;
			}
			.video-title{
				padding-top: 50%;
				position: relative;
			}
			.video-title>video{
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a href="../../index.html" class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class=" mui-icon mui-icon-home mui-pull-right" href="../../index.html"></a>
			<h1 class="mui-title">视频</h1>
		</header>
		<div class="mui-content">
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#item1">
						<span>班级</span>
					</a>
					<a class="mui-control-item" href="#item2">
						<span>校级</span>
					</a>
				</div>
			</div>
			<div class="activity-list">
				<div id="item1" class="mui-control-content mui-active">
					<!--下拉刷新容器-->
					<div id="refreshContainer" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<!--数据列表-->
							<ul class="mui-table-view mui-table-view-chevron" id="OA_task_2">

							</ul>
						</div>
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<!--下拉刷新容器-->
					<div id="refreshContainer1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<!--数据列表-->
							<ul class="mui-table-view mui-table-view-chevron" id="OA_task_1">

							</ul>
						</div>
					</div>
				</div>
			</div>
			<a id="add" class="mui-btn mui-btn-primary mui-btn-block">发视频</a>
		</div>
		<script src="../../js/mui.js"></script>
		<script src="../../js/mui.pullToRefresh.js"></script>
		<script src="../../js/mui.pullToRefresh.material.js"></script>
		<script type="text/javascript">
			(function($) {
				var curr = 1;
				var count = 1;
				var curr1 = 1;
				var count1 = 1;
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				// 班级通知查询
				var listSearch = function() {
					var _this = this;
					if (curr <= count) {
						mui.ajax('/phone/selectvideo.do', {
							data: {
								token: window.localStorage.getItem('token'),
								currPage: curr,
								pageSize: 10,
								level: 2
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								if (data.code == -3) {
									mui.openWindow({
										id: 'index',
										url: '../login.html'
									});
									return;
								}
								_this.endPullupToRefresh(false);
								document.querySelector('.mui-pull-bottom-pocket').style.display = 'none'
								var con = data.data;
								count = parseInt(data.data.length / 10) + 1;
								var html = document.querySelector('#OA_task_2').innerHTML;
								for (var i = 0; i < con.length; i++) {
									html +=
										`<li class="mui-table-view-cell" data-id="${con[i].id}" >
											<div class="mui-slider-right mui-disabled">
												<a id="${con[i].id}" class="mui-btn mui-btn-red mui-icon iconfont icon-del"></a>
											</div>
											<div class="mui-slider-handle">
												<div class="video-title">
													<video src="${severAddress}${con[i].video}" controls="controls"  width="100%" height="193"></video>
												</div>
												<div class="text-overflow" style="margin-top: 0.1rem;">
													${con[i].text}
												</div>
												<p >
													${con[i].date}
												</p>
											</div>
										</li>`
								}
								document.querySelector('#OA_task_2').innerHTML = html
								curr++;
							},
							error: function(xhr, type, errorThrown) {

							}
						});
					} else {
						_this.endPullupToRefresh(true);
					}
				}
				//校级通知查询
				var listSearch1 = function() {
					var _this = this;
					if (curr1 <= count1) {
						mui.ajax('/phone/selectvideo.do', {
							data: {
								token: window.localStorage.getItem('token'),
								currPage: curr1,
								pageSize: 10,
								level: 1
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								if (data.code == -3) {
									mui.openWindow({
										id: 'index',
										url: '../login.html'
									});
									return;
								}
								_this.endPullupToRefresh(false);
								document.querySelector('.mui-pull-bottom-pocket').style.display = 'none'
								var con = data.data;
								count1 = parseInt(data.data.length / 10) + 1;
								var html = document.querySelector('#OA_task_1').innerHTML;
								for (var i = 0; i < con.length; i++) {
									html +=
										`<li class="mui-table-view-cell" data-id="${con[i].id}" >
											<div class="mui-slider-right mui-disabled">
												<a id="${con[i].id}" class="mui-btn mui-btn-red mui-icon iconfont icon-del"></a>
											</div>
											<div class="mui-slider-handle">
												<div class="video-title">
													<video src="${severAddress}${con[i].video}" controls="controls"  width="100%" height="193"></video>
												</div>
												<div class="" style="margin-top: 0.1rem;">
													${con[i].text}
												</div>
												<p >
													${con[i].date}
												</p>
											</div>
										</li>`
								}
								document.querySelector('#OA_task_1').innerHTML = html
								curr1++;
							},
							error: function(xhr, type, errorThrown) {

							}
						});
					} else {
						_this.endPullupToRefresh(true);
					}
				}


				//删除活动
				var activityDel = function(id) {
					mui.ajax('/phone/deletevideo.do', {
						data: {
							token: window.localStorage.getItem('token'),
							id: id
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							if (data.code == -3) {
								mui.openWindow({
									id: 'index',
									url: '../login.html'
								});
								return;
							}
							if (data.code == 200) {
								window.location.reload();
							} else {
								mui.alert(data.msg)
							}
						},
						error: function(xhr, type, errorThrown) {

						}
					});
				}
				mui.init();
				mui.ready(function() {
					mui("#refreshContainer").pullRefresh({
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: listSearch
						},
					})
					mui("#refreshContainer1").pullRefresh({
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: listSearch1
						},
					})
					mui(".mui-table-view").on('tap', '.icon-del', function() {
						var id = this.getAttribute("id");
						var btnArray = ['否', '是'];
						mui.confirm('确认要删除？', null, btnArray, function(e) {
							if (e.index == 1) {
								activityDel(id)
							}
						})
					})
					mui(".mui-content").on('tap', '.mui-table-view-cell', function(event) {
						var id = this.dataset.id
						mui.openWindow({
							id: 'index',
							url: './detail.html?id=' + id
						});
					})
					document.querySelector('#add').addEventListener('tap', function() {
						mui.openWindow({
							id: 'index',
							url: './add.html'
						});
					})
				})
			})(mui);
		</script>
	</body>

</html>
