<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../../css/mui.css">
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1065627_xs9ose09vdn.css" />
		<style type="text/css">
			/*九宫格*/
			.mui-grid-view.mui-grid-9 {
				border-top: 1px solid #eee;
				border-left: 1px solid #eee;
				background-color: #fff;
			}

			.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn) {
				padding: 0px 0;
				font-size: 1rem;
				height: 60px;
				line-height: 60px;
			}

			.icon-add {
				font-size: 1.47rem;
				color: #bfc3cc;
			}

			/*编辑框*/
			.sloganAdd {
				display: none;
				width: 100%;
				height: 100%;
				background: #f7f7f7;
				position: fixed;
				top: 0px;
				left: 0px;
				z-index: 999;
			}

			.sloganAdd-cont {
				margin-top: 3.9rem;
			}

			.sloganAdd-cont>input {
				font-size: 1rem;
				border: none;
				padding: 30px 15px;
			}

			.mui-icon-clear {
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">选择科目</h1>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						语文
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						数学
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						英语
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						化学
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						物理
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						生物
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						历史
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						思想品德与政治
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						音乐
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						美术
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						地理
					</a>
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
					<a href="javascript:void(0)" class="click-operate">
						体育
					</a>
				</li>
				<!-- <li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3 addSubiects">
					<a href="javascript:0">
						<i class="iconfont icon-add"></i>
					</a>
				</li> -->
			</ul>
			<!--设置科目的弹框-->
			<div id="sloganAdd" class="sloganAdd">
				<header class="mui-bar mui-bar-nav">
					<a class="cancel  mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">设置科目</h1>
					<a class="mui-btn determine  mui-btn-link mui-pull-right  ">完成</a>
				</header>
				<div class="sloganAdd-cont mui-input-row">
					<input id="discipline" type="text" class="mui-input-clear" placeholder="学科名称">
				</div>
			</div>
		</div>
	</body>
	<script src="../../../js/mui.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var classTeacherId = getQueryString("classTeacherId");
		var workId = getQueryString("workId");
		var subjectName = decodeURI(getQueryString('subjectName'));

		(function($) {
			getCss();
		}(mui))

		function getCss() {
			var list = document.getElementsByClassName('click-operate');

			for (var i = 0; i < list.length; i++) {
				var text = list[i].innerHTML.trim();
				if (text == subjectName) {
					list[i].style.color = '#3B8BFF';
				}
			}
		}

		mui.init();
		mui.ready(function() {
			var addSubiects = document.querySelector('.addSubiects');
			var cancel = document.querySelector('.cancel');
			var determine = document.querySelector('.determine');
			var sloganAdd = document.getElementById('sloganAdd')
			//添加
			mui('.mui-content').on('tap', '.addSubiects', function() {
				sloganAdd.style.display = "block";
			})
			//取消
			cancel.addEventListener('tap', function() {
				sloganAdd.style.display = "none";
			})

			var html1 = '';
			//完成操作
			
			mui(".mui-content").on('tap', ".determine", function() {
				var discipline = mui("#discipline")[0].value;
				if (discipline != '') {
					//完成操作
					html1 =
						`</li>
						<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-3">
							<a href="javascript:0"  class="click-operate">
								${discipline}
							</a>
						</li>`;
					html1 += document.querySelector('.mui-table-view').innerHTML;
					document.querySelector('.mui-table-view').innerHTML = html1
					sloganAdd.style.display = "none";

				} else {
					mui.alert('不能为空')
				}
			})

			mui('.mui-content').on('tap', '.click-operate', function() {
				var subjectName = this.innerHTML.trim();
				if (subjectName) {
					operateTeacher(subjectName)
				} else {
					mui.alert('不能为空')
				}
			})

		})

		//添加/编辑
		function operateTeacher(subjectName) {
			if (notBlank(classTeacherId)) {
				console.log("update")
				mui.ajax('http://192.168.38.98:8080/phone/classteacher/update.do', {
					data: {
						classTeacherId: classTeacherId,
						classId: window.localStorage.getItem('classId'),
						workId: workId,
						token: window.localStorage.getItem('token'),
						subjectName: subjectName
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						console.log(data);
						if (data.code == 200) {
							mui.openWindow({
								id: 'index',
								url: '../following-teacher/index.html'
							});
						} else {
							mui.alert(data.msg)
						}

					},
					error: function(xhr, type, errorThrown) {

					}
				});
			} else {
				mui.ajax('http://192.168.38.98:8080/phone/classteacher/insert.do', {
					data: {
						classId: window.localStorage.getItem('classId'),
						workId: workId,
						token: window.localStorage.getItem('token'),
						subjectName: subjectName
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						// console.log(data);
						if (data.code == 200) {
							mui.openWindow({
								id: 'index',
								url: '../following-teacher/index.html'
							});
						} else {
							mui.alert(data.msg)
						}
					},
					error: function(xhr, type, errorThrown) {

					}
				});
			}

		}

		function getQueryString(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var reg_rewrite = new RegExp("(^|/)" + name + "/([^/]*)(/|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			var q = window.location.pathname.substr(1).match(reg_rewrite);
			if (r != null) {
				return r[2];
			} else if (q != null) {
				return q[2];
			} else {
				return null;
			}
		}
		
		function notBlank(data) {
			var isTrue = true;
		
			if (!data) {
				isTrue = false;
			}
			if (data == '') {
				isTrue = false;
			}
			if (data == null) {
				isTrue = false;
			}
			if (data == undefined) {
				isTrue = false;
			}
			if (data == 'null') {
				isTrue = false;
			}
			if (data == 'undefined') {
				isTrue = false;
			}
			return isTrue;
		}
		
	</script>
</html>
