<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>新闻</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../fonts/font_1065627_jhxyseritsp/iconfont.css">
		<link href="../../css/public.css" rel="stylesheet" />
		<style>
			#scroll1{
				height: calc(100vh - 131px);
			}
			#scroll2{
				height: calc(100vh - 131px);
			}
			.mui-card .mui-control-content {
				padding: 10px;
			}
			
			.mui-control-content {
				height: calc(100vh - 131px);
			}
			
			.mui-content {
				height: 100vh;
			}
			
			.mui-btn-block {
				margin-bottom: 0;
			}
			
			.activity-list .mui-table-view-cell {
				height: 4rem;
				line-height: 4rem;
				padding: 0 1rem;
			}
			
			.mui-table-view-cell:after {
				left: 0;
			}
			
			.active-item {
				display: flex;
			}
			
			.active-item>div:last-child {
				text-align: right;
				width: 55px;
			}
			
			.active-item>div:first-child {
				margin-right: 5px;
				color: #ed932a;
			}
			
			.active-item>div:nth-child(2) {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: calc(100vw - 130px);
			}
			
			.end {
				color: #c0c4cc !important;
			}
			/*新增样式*/
			.addsTybe-left{
				width: 70%;
				text-overflow:ellipsis;
				white-space:nowrap; 
				overflow:hidden; 
			}
			.addsTybe-rnt{
				width: 30%;
				text-align: right;
			}
			.icon-del{
				font-size: 30px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class=" mui-icon mui-icon-home mui-pull-right"></a>
			<h1 class="mui-title">新闻</h1>
		</header>
		<div class="mui-content">
			<div>
				<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
					<a class="mui-control-item mui-active" href="#item1">
						<span>班级</span>
					</a>
					<a class="mui-control-item" href="#item2">
						<span>校级</span>
					</a>
				</div>
			</div>
			<div class="cri-list">
				<div id="item1" class="mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view" id="OA_task_1">
							</ul>
						</div>
					</div>
				</div>
				<div id="item2" class="mui-control-content">
					<div id="scroll2" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view" id="OA_task_2">
							</ul>
						</div>
					</div>
				</div>
			</div>
			<a type="button" id="add" href="#" class="mui-btn mui-btn-primary mui-btn-block">发新闻</a>
		</div>
		<script src="../../js/mui.js"></script>
		<script type="text/javascript">
			(function($) {
				mui.init()
				$('#scroll1').scroll({
					indicators: true //是否显示滚动条
				});
				$('#scroll2').scroll({
					indicators: true //是否显示滚动条
				});
				document.querySelector('.mui-pull-right').addEventListener('tap', function() {
					mui.openWindow({
						id: 'index',
						url: '../../index.html'
					});
				})
				var curr = 1;
				var count = 1;
				var curr1 = 1;
				var count1 = 1;

				var listClassSearch = function() {
					var _this = this;
					if (curr <= count) {
						mui.ajax('/phone/selectnews.do', {
							data: {
								token: window.localStorage.getItem('token'),
								currPage: curr,
								pageSize: 10,
								level: 2
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								if (data.code == -3) {
									mui.openWindow({
										id: 'login',
										url: '../login.html'
									});
									return;
								}
								if (data.code == 200) {
									var con = data.data.recordList;
									count = data.data.pageCount;
									var html = document.querySelector('#OA_task_1').innerHTML;
									for (var i = 0; i < con.length; i++) {
										html +=
											`<li class="mui-table-view-cell" data-id="${con[i].newsId}">
												<div class="mui-slider-right mui-disabled">
													<a id="${con[i].newsId}" class="mui-btn mui-btn-red mui-icon iconfont icon-del"></a>
												</div>
												<div class="mui-slider-handle">
													<div class="mui-table-cell flex">
														<div class="addsTybe-left">${con[i].newsTitle}</div>
														<div class="addsTybe-rnt">${con[i].createTimeStr}</div>
													</div>
												</div>
											</li>`
									}
									document.querySelector('#OA_task_1').innerHTML = html
									curr++;
								}
							},
							error: function(xhr, type, errorThrown) {

							}
						});
					} else {
						_this.endPullupToRefresh(true);
					}
				}

				var listSchoolSearch = function() {
					var _this = this;
					if (curr <= count) {
						mui.ajax('/phone/selectnews.do', {
							data: {
								token: window.localStorage.getItem('token'),
								currPage: curr1,
								pageSize: 10,
								level: 1
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'get', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								if (data.code == -3) {
									mui.openWindow({
										id: 'login',
										url: '../login.html'
									});
									return;
								}
								if (data.code == 200) {
									var con = data.data.recordList;
									count1 = data.data.pageCount;
									var html = document.querySelector('#OA_task_2').innerHTML;
									for (var i = 0; i < con.length; i++) {
										html +=
											`<li class="mui-table-view-cell" data-id="${con[i].newsId}">
												<div class="mui-slider-right mui-disabled">
													<a class="mui-btn mui-btn-red iconfont icon-del" id="${con[i].newsId}"></a>
												</div>
												<div class="mui-slider-handle flex">
													<div class="text-overflow" style="width:70%">
														${con[i].newsTitle}
													</div>
													<div style="text-align: right;color: #909399;width:30%">
														${con[i].createTimeStr}
													</div>
												</div>
											</li>`
									}
									document.querySelector('#OA_task_2').innerHTML = html
									curr1++;
								}
							},
							error: function(xhr, type, errorThrown) {

							}
						});
					} else {
						_this.endPullupToRefresh(true);
					}
				}

				var del = function(id) {
					mui.ajax('/phone/deletenews.do', {
						data: {
							token: window.localStorage.getItem('token'),
							newsId: id
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							if (data.code == -3) {
								mui.openWindow({
									id: 'login',
									url: '../login.html'
								});
								return;
							}
							if (data.code == 200) {
								curr = 1
								curr1 = 1
								document.querySelector('#OA_task_1').innerHTML = ""
								document.querySelector('#OA_task_2').innerHTML = ""
								listClassSearch()
								listSchoolSearch()
							}
						},
						error: function(xhr, type, errorThrown) {

						}
					});
				}

				mui.ready(function() {

					mui("#scroll1").pullRefresh({
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: listClassSearch()
						}
					})
					mui("#scroll2").pullRefresh({
						up: {
							height: 50, //可选.默认50.触发上拉加载拖动距离
							auto: true, //可选,默认false.自动上拉加载一次
							contentrefresh: '正在加载...',
							contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
							callback: listSchoolSearch()
						}
					})
					mui(".mui-table-view").on('tap', '.icon-del', function() {
						var id = this.getAttribute("id");
						var btnArray = ['否', '是'];
						mui.confirm('确认要删除？', null, btnArray, function(e) {
							if (e.index == 1) {
								del(id);
							}
						})
					})
					mui(".mui-content").on('tap', '.mui-table-view-cell', function(event) {
						var id = this.dataset.id
						mui.openWindow({
							id: 'news-detail',
							url: './detail.html?id=' + id
						});
					})

					document.querySelector('#add').addEventListener('tap', function() {
						mui.openWindow({
							id: 'news-add',
							url: './add.html'
						});
					})
				})

			})(mui);
		</script>
	</body>

</html>
