<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>通知</title>
    <script src="../../js/mui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/public.css"/>
   
    <style type="text/css">
    	.nav{
    		height: 3.63rem;
    		border-bottom: 0.07rem solid #e4e4e4;
    		background: #FFFFFF;
    		width: 100%;
    	}
    	.nav>li{
    		width: 50%;
    	}
    	.nav-div{
    		width: ;
    		padding: 1.02rem 0;
    		width: 3rem;
    		border-bottom: 0.14rem solid #3b8bff;
    		margin: 0 auto;
    		text-align: center;
    	}
    	.nav-bodex{
    		border: none;
    	}
    	.color{
    		color: #3d8cff;
    	}
    	.mui-slider-handle>div{
    		width: 50%;
    	}
    	.mui-table-view{
    		height: calc(100vh - 6.7rem);
    		overflow: auto;
    	}
    	.mui-table-view-cell:after {
		    background: none;
		}
		.mui-table-view-cell {
		    padding: 15px 15px;
		    border-bottom: 0.07rem solid #E4E4E4;
		}
		.mui-table-view:before {
		    background-color: none;
		}
		.mui-table-view:after {
    		background: none;
		}
		/*发送通知*/
		.add{
			height: 3.07rem;
			background: #3B8BFF;
			color: #FFFFFF;
			font-size: 1.07rem;
			line-height: 3.07rem;
			text-align: center;
		}
    </style>
</head>
<body>
	<div class="mui-content" id="noticeT"> 
		<ul class="flex nav mui-bar-nav">
			<li class="color">
				<div class="nav-div">
					班级
				</div>
			</li>
			<li>
				<div class="nav-div nav-bodex">
					校级
				</div>
			</li>
		</ul>
		<!--列表-->
		<ul id="OA_task_1" class="mui-table-view" style=" border: none;">
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
			<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
				<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
				<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
				<li class="mui-table-view-cell">
				<div class="mui-slider-right mui-disabled">
					<a class="mui-btn mui-btn-red">删除</a>
				</div>
				<div class="mui-slider-handle flex">
					<div>
						1
					</div>
					<div style="text-align: right;color: #909399;">
						2
					</div>
				</div>
			</li>
		</ul>
		<div class="add">
			发通知
		</div>
	</div>
	 <script type="text/javascript" charset="utf-8">
      	mui.init();
      	//导航切换效果
      	$('.nav').on('click', 'li', function(e){
	       	$('.nav li').removeClass('color');
	       	$('.nav li').find('div').css('border-bottom','none')
	        $(this).addClass('color');
	        $(this).find('div').css('border-bottom','0.14rem solid #3b8bff')
    	});
    	//删除
    	(function($) {
			//第一个demo，拖拽后显示操作图标，点击操作图标删除元素；
			$('#OA_task_1').on('tap', '.mui-btn', function(event) {
				var elem = this;
				var li = elem.parentNode.parentNode;
				mui.confirm('确认删除该条记录？', '', btnArray, function(e) {
					if (e.index == 0) {
						
					} else {
						setTimeout(function() {
							$.swipeoutClose(li);
						}, 0);
					}
				});
			});
			var btnArray = ['确认', '取消'];
			//第二个demo，向左拖拽后显示操作图标，释放后自动触发的业务逻辑
			$('#OA_task_2').on('slideleft', '.mui-table-view-cell', function(event) {
				var elem = this;
				mui.confirm('确认删除该条记录？', 'Hello MUI', btnArray, function(e) {
					if (e.index == 0) {
						elem.parentNode.removeChild(elem);
					} else {
						setTimeout(function() {
							$.swipeoutClose(elem);
						}, 0);
					}
				});
			});
		})(mui);
		//发送通知
		$('.add').on('click',function  () {
			window.location.href="add.html" 
		})
  
    </script>
</body>
</html>