<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>发校宣</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link href="../../css/public.css" rel="stylesheet" />
		<link rel="stylesheet" href="//at.alicdn.com/t/font_1065627_xs9ose09vdn.css">
		<script src="../../js/colorpicker.js"></script>
		<style>
			.Hauto>div{
				padding: 11px 15px;
			}
			.q-tips{
				display: flex;
				align-items: center;
				height: 100%;
				padding-left: 15px;
			}
			.q-tips>span{
				font-size: 0.8rem;
				margin-left: 15px;
				color: #dcdfe6;
			}
			.icon-btn{
				display: flex;
				color: #3b8bff;
			}
			.icon-btn i{
				margin-right: 5px;
			}
			.mui-input-row .mui-icon{
				position: absolute;
				right: 0.8rem;
				top: 50%;
				margin-top: -12px;
				color: #c0c4cc;
			}
			.mui-input-row>a{
				height: 40px;
				line-height: 40px;
				color: #c0c4cc;
				display: inline-block;
				width: 50%;
			}
			.mui-content {
				height: 100vh;
			}
			.add-form{
				height: calc(100% - 46px);
				overflow: auto;
			}
			.mui-btn-block{
				margin-bottom: 0;
			}
			.icon-add{
				font-size: 2.4rem;
				position: absolute;
				left: 50%;
				top: 50%;
				width: 36px;
				height: 36px;
				margin-top: -18px;
				margin-left: -18px;
				color: #909399;
			}
			.school-bg-wrap{
				padding: 16px;
			}
			.school-bg{
				padding-bottom: 56%;
				position: relative;
				background-color: #edf1f6;
			}
			.school-bg>img{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.school-bg>video{
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				position: absolute;
				width: 100%;
			}
			.school-bg-edit{
				text-align: center;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: -21px 0 0 -45px;
				color: #c0c4cc;
			}
			#bg-select,#top-title,#main-title,#bottom-title,#down-title{
				position: fixed;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
				border-radius: 0!important;
			}
			.bg-img-upload-wrap{
				position: relative;
				padding-bottom: 56%;
				background-color: #edf1f6;
				display: block;
			}
			.bg-img-upload-wrap input{
				opacity: 0;
			}
			.bg-img-list>li{
				position: relative;
				padding-bottom: 56%;
				margin-bottom: 16px;
			}
			.bg-img-list>li>img{
				width: 100%;
				height: 100%;
				position: absolute;
			}
			.img-select{
				position: absolute;
				top: 10px;
				right: 10px;
				display: none;
			}
			.img-select>img{
				width: 21px;
				height: 21px;
			}
			.bg-tab-wrap{
				padding: 0 16px;
				border-top: 1px solid #c8c7cc;
				height: calc(100vh - 131px);
				overflow: auto;
			}
			.bg-tip{
				color: #909399;
				margin-top: 18px;
				margin-bottom: 12px;
			}
			.video-wrap{
				width: 100%;
				min-height: 100px;
				position: absolute;
				z-index: -1;
				top: 34px;
			}
			.video-wrap>video{
				width: 100%;
			}
			
			.picker {
				width: 100%;
				height: 200px;
				position: absolute;
				left: 0;
				top: 20px;
			}
			.picker-wrap{
				position: relative;
				height: 100%;
				width: 100%;
			}
			.picker-wrap>.picker{
				position: relative;
				top: 0;
			}
			.login-input-cont {
				position: relative;
			}
			.mui-popover .mui-icon-clear{
				top: 42px!important;
			}
			.objTchu{
				z-index: 999;
			}
			.obje-bnt-rnt{
				height: 3.7rem;
				text-align: center;
				line-height: 3.7rem;
				font-size: 1rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class=" mui-icon mui-icon-home mui-pull-right" href="../../index.html"></a>
			<h1 class="mui-title">发校宣</h1>
		</header>
		<div class="mui-content">
			<div class="add-form">
				<div class="mui-input-group">
					<div class="school-bg-wrap">
						<div class="school-bg">
							<!-- <img src="../../img/city-1.jpg" alt=""> -->
							<a class="school-bg-edit" href="#bg-select">
								<i class="iconfont icon-edit"></i>
								<div>点击设置背景</div>
							</a>
						</div>
					</div>
				</div>
				<div class="mui-input-group">
					<div class="mui-input-row mt12">
						<label>名称</label>
						<input type="text" id="issue-name" placeholder="请输入校宣方案名称">
					</div>
					<div class="mui-input-row">
						<label>对象</label>
						<a href="#objTchu" id="obj-select">请选择对象</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
					<div class="mui-input-row">
						<label>开始时间</label>
						<a href="#" data-options='{}' id="timeSelect">请选择开始时间</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
					<div class="mui-input-row">
						<label>结束时间</label>
						<a href="#" data-options='{}' id="timeSelect1">请选择结束时间</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
				</div>
				<div class="mui-input-group mt12">
					<div class="mui-input-row">
						<label>上标题</label>
						<a href="#top-title" id="title-select">设置上标题</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
					<div class="mui-input-row">
						<label>主标题</label>
						<a href="#main-title" id="title-select1">设置主标题</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
					<div class="mui-input-row">
						<label>下标题</label>
						<a href="#bottom-title" id="title-select2">设置下标题</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
					<div class="mui-input-row">
						<label>倒计时</label>
						<a href="#down-title" id="title-select3">设置倒计时</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
				</div>
			</div>
			<button type="button" id="school-issue-all" class="mui-btn mui-btn-primary mui-btn-block">发布</button>
		</div>
		<div id="bg-select" class="mui-popover">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" href="#bg-select"></a>
				<h1 class="mui-title">背景设置</h1>
			</header>
			<div class="mui-content fourth" style="background-color: #FFFFFF;">
				<div>
					<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
						<a class="mui-control-item mui-active" href="#item1">
							<span>图片</span>
						</a>
						<a class="mui-control-item" href="#item2">
							<span>颜色</span>
						</a>
						<a class="mui-control-item" href="#item3">
							<span>视频</span>
						</a>
						<a class="mui-control-item" href="#item4">
							<span>直播</span>
						</a>
					</div>
				</div>
				<div class="bg-tab-wrap">
					<div id="item1" class="mui-control-content mui-active">
						<div class="bg-tip">上传</div>
						<label for="bg-img-upload" class="bg-img-upload-wrap">
							<i class="iconfont icon-add"></i>
							<input type="file" id="bg-img-upload">
						</label>
						<div class="bg-tip">推荐</div>
						<div>
							<ul class="bg-img-list">
								
							</ul>
						</div>
					</div>
					<div id="item2" class="mui-control-content">
						<div class="picker" id="color-picker"></div>
					</div>
					<div id="item3" class="mui-control-content">
						<div class="bg-tip">上传</div>
						<label for="bg-video-upload" class="bg-img-upload-wrap" id="video-upload">
							<i class="iconfont icon-add"></i>
							<input type="file" id="bg-video-upload">
						</label>
						<div class="video-wrap">

						</div>
					</div>
					<div id="item4" class="mui-control-content">
						<div class="mui-input-group">
							<div class="mui-input-row mt12">
								<label>地址</label>
								<input type="text" class="live-input" placeholder="请输入直播地址">
							</div>
						</div>
					</div>
				</div>
				<a href="#bg-select" id="bg-confirm" class="mui-btn mui-btn-primary mui-btn-block">确定</a>
			</div>
		</div>
		<div id="top-title" class="mui-popover">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" href="#top-title"></a>
				<h1 class="mui-title">上标题设置</h1>
			</header>
			<div class="mui-content">
				<div class="picker-wrap">
					<div class="picker" id="color-picker1"></div>
					<div class="mui-input-row login-input-cont">
						<input type="text" class="mui-input-clear top-input" style="margin-top: 20px;top: 20px;" placeholder="点击输入文字" />
					</div>
				</div>
				<a href="#top-title" id="top-confirm" class="mui-btn mui-btn-primary mui-btn-block" style="position: absolute;bottom: 0;">确定</a>
			</div>
		</div>
		<div id="main-title" class="mui-popover">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" href="#main-title"></a>
				<h1 class="mui-title">主标题设置</h1>
			</header>
			<div class="mui-content">
				<div class="picker-wrap">
					<div class="picker" id="color-picker2"></div>
					<div class="mui-input-row login-input-cont">
						<input type="text" class="mui-input-clear top-input1" style="margin-top: 20px;top: 20px;" placeholder="点击输入文字" />
					</div>
				</div>
				<a href="#main-title" id="top-confirm1" class="mui-btn mui-btn-primary mui-btn-block" style="position: absolute;bottom: 0;">确定</a>
			</div>
		</div>
		<div id="bottom-title" class="mui-popover">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" href="#bottom-title"></a>
				<h1 class="mui-title">下标题设置</h1>
			</header>
			<div class="mui-content">
				<div class="picker-wrap">
					<div class="picker" id="color-picker3"></div>
					<div class="mui-input-row login-input-cont">
						<input type="text" class="mui-input-clear top-input2" style="margin-top: 20px;top: 20px;" placeholder="点击输入文字" />
					</div>
				</div>
				<a href="#bottom-title" id="top-confirm2" class="mui-btn mui-btn-primary mui-btn-block" style="position: absolute;bottom: 0;">确定</a>
			</div>
		</div>

		<div id="down-title" class="mui-popover">
			<header class="mui-bar mui-bar-nav">
				<a class="mui-icon mui-icon-left-nav mui-pull-left" href="#down-title"></a>
				<h1 class="mui-title">倒计时设置</h1>
			</header>
			<div class="mui-content">
				<div class="picker-wrap">
					<div class="picker" id="color-picker4"></div>
					<div class="mui-input-row mt12" style="background: #FFFFFF;">
						<label>结束时间</label>
						<a href="#" data-options='{}' id="timeSelect2">请选择结束时间</a>
						<span class="mui-icon mui-icon-forward"></span>
					</div>
					<div class="mui-input-row login-input-cont">
						<input type="text" class="mui-input-clear top-input3" style="margin-top: 20px;top: 20px;" placeholder="点击输入文字" />
					</div>
				</div>
				<a href="#down-title" id="top-confirm3" class="mui-btn mui-btn-primary mui-btn-block" style="position: absolute;bottom: 0;">确定</a>
			</div>
		</div>
		<!-- 对象弹出层 -->
		<div class="objTchu mui-popover" id="objTchu">
			<header class="mui-bar mui-bar-nav">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-left-nav mui-pull-left" href="#objTchu"></a>
					<h1 class="mui-title">选择对象</h1>
				</header>
			</header>
			<div class="mui-content obje-content">
				<div class="obje-content-content">
					<div class="obje-generations">
						<div class="mui-input-row mui-checkbox  mui-left parent-input">
							<label style="text-align: left;">全选</label>
							<input id="parent-input" name="zhege " type="checkbox">
						</div>
					</div>
					<ul id="grade" class="obje-grade">
					</ul>
				</div>
				<div class="obje-bnt flex">
					<div class="obje-bnt-left">重置</div>
					<a href="#objTchu" class="obje-bnt-rnt">确定<a>
				</div>
			</div>
		</div>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script type="text/javascript">
			(function($) {
				mui.init();
				var obj = document.getElementById("picker");
				var a = Colorpicker.create({
					el: "color-picker",
					color: "#000fff",
					change: function(elem, hex) {
						elem.style.backgroundColor = hex;
					}
				})
				var a = Colorpicker.create({
					el: "color-picker1",
					color: "#000fff",
					change: function(elem, hex) {
						elem.style.backgroundColor = hex;
					}
				})
				var a = Colorpicker.create({
					el: "color-picker2",
					color: "#000fff",
					change: function(elem, hex) {
						elem.style.backgroundColor = hex;
					}
				})
				var a = Colorpicker.create({
					el: "color-picker3",
					color: "#000fff",
					change: function(elem, hex) {
						elem.style.backgroundColor = hex;
					}
				})
				var a = Colorpicker.create({
					el: "color-picker4",
					color: "#000fff",
					change: function(elem, hex) {
						elem.style.backgroundColor = hex;
					}
				})
				var result = document.querySelector('#timeSelect');
				var result1 = document.querySelector('#timeSelect1');
				var result2 = document.querySelector('#timeSelect2');
				result.addEventListener('tap', function() {
					var _self = this;
					if (_self.picker) {
						_self.picker.show(function(rs) {
							result.innerText = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					} else {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						_self.picker = new $.DtPicker(options);
						_self.picker.show(function(rs) {
							result.innerText = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					}
				}, false)
				result1.addEventListener('tap', function() {
					var _self = this;
					if (_self.picker) {
						_self.picker.show(function(rs) {
							result1.innerText = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					} else {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						_self.picker = new $.DtPicker(options);
						_self.picker.show(function(rs) {
							result1.innerText = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					}
				}, false)
				result2.addEventListener('tap', function() {
					var _self = this;
					if (_self.picker) {
						_self.picker.show(function(rs) {
							result2.innerText = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					} else {
						var optionsJson = this.getAttribute('data-options') || '{}';
						var options = JSON.parse(optionsJson);
						var id = this.getAttribute('id');
						_self.picker = new $.DtPicker(options);
						_self.picker.show(function(rs) {
							result2.innerText = rs.text;
							_self.picker.dispose();
							_self.picker = null;
						});
					}
				}, false)
				document.querySelector('#bg-img-upload').addEventListener('change', function() {
					var files = this.files;
					var file;
					if (files && files.length) {
						file = files[0];
						if (/^image\/\w+/.test(file.type)) {
							blobURL = URL.createObjectURL(file);
							console.log(blobURL)
							var html = document.querySelector('.bg-img-list').innerHTML;
							// html += `<li>
							// 			<img src="${blobURL}" alt="">
							// 		</li>`
							// document.querySelector('.bg-img-list').innerHTML = html;
							imgUpload(file)
						} else {
							mui.alert('请选择图片文件');
						}
					}
				})
				document.querySelector('#bg-video-upload').addEventListener('change', function() {
					var files = this.files;
					var file;
					if (files && files.length) {
						file = files[0];
						blobURL = URL.createObjectURL(file);
						console.log(blobURL)
						document.querySelector('#video-upload').style.display = 'none';
						document.querySelector('.video-wrap').style.zIndex = 99;
						var html = `<video src="${blobURL}" autoplay="autoplay" loop="loop"></video>`;
						document.querySelector('.video-wrap').innerHTML = html;
					}
				})
				mui('#segmentedControl').on('tap', 'a', function() {
					if (this.innerHTML.indexOf('直播') != -1) {
						document.querySelector('.fourth').style.background = '#efeff4'
					} else {
						document.querySelector('.fourth').style.background = '#FFFFFF'
					}
				})
				mui('.bg-img-list').on('tap', 'li', function() {
					if (getComputedStyle(this.childNodes[3], null).getPropertyValue('display') == 'block') {
						this.childNodes[3].style.display = 'none'
					} else {
						mui('.bg-img-list li').each(function(i, v) {
							v.childNodes[3].style.display = 'none'
						})
						this.childNodes[3].style.display = 'block'
					}
				})
				document.querySelector('#top-confirm').addEventListener('tap', function() {
					var value = document.querySelector('.top-input').value;
					var color = document.querySelector('#color-picker1').style.backgroundColor;
					var html = `<p style="color:${color}">${value}<p>`;
					console.log(html)
					document.querySelector('#title-select').innerHTML = html;
				})
				document.querySelector('#top-confirm1').addEventListener('tap', function() {
					var value = document.querySelector('.top-input1').value;
					var color = document.querySelector('#color-picker2').style.backgroundColor;
					var html = `<p style="color:${color}">${value}<p>`;
					document.querySelector('#title-select1').innerHTML = html;
				})
				document.querySelector('#top-confirm2').addEventListener('tap', function() {
					var value = document.querySelector('.top-input2').value;
					var color = document.querySelector('#color-picker3').style.backgroundColor;
					var html = `<p style="color:${color}">${value}<p>`;
					document.querySelector('#title-select2').innerHTML = html;
				})
				document.querySelector('#top-confirm3').addEventListener('tap', function() {
					var value = document.querySelector('.top-input3').value;
					var color = document.querySelector('#color-picker4').style.backgroundColor;
					var html = `<p style="color:${color}">${value}<p>`;
					document.querySelector('#title-select3').innerHTML = html;
				})
				document.querySelector('#bg-confirm').addEventListener('tap', function() {
					var index = 0;
					mui('#segmentedControl a').each(function(i, v) {
						if (v.className.indexOf('mui-active') != -1) {
							index = i;
						}
					})
					switch (index) {
						case 0:
							if (bgImg() == '') {
								mui.alert('请选择背景图片')
							} else {
								var html = `<img src="${bgImg()}" alt="">`
								document.querySelector('.school-bg').innerHTML = html;
							}
							break;
						case 1:
							var color = document.querySelector('#color-picker').style.backgroundColor;
							document.querySelector('.school-bg').style.backgroundColor = color;
							document.querySelector('.school-bg').innerHTML = '';
							break;
						case 2:
							if (document.querySelector('.video-wrap').innerHTML.trim() == '') {
								mui.alert('请选择背景视频')
							} else {
								document.querySelector('.school-bg').innerHTML = document.querySelector('.video-wrap').innerHTML;
							}
							break;
						case 3:
							var src = document.querySelector('.live-input').value.trim();
							if (src == '') {
								mui.alert('请选择背景直播')
							} else {
								var html = `<video src="${src}" autoplay="autoplay" loop="loop"></video>`
								document.querySelector('.school-bg').innerHTML = html
							}
							break;
					}
				})
				var bgImg = function() {
					var value = '';
					mui('.bg-img-list li').each(function(i, v) {
						if (getComputedStyle(v.childNodes[3], null).getPropertyValue('display') == 'block') {
							value = v.childNodes[1].getAttribute('src')
						}
					})
					return value;
				}
				var imgListSearch = function() {
					mui.ajax('/phone/selectbackgroundurlbyphone.do', {
						dataType: 'json', //服务器返回json格式数据
						type: 'get', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							console.log(data)
							var html = '';
							for (var i = 0; i < data.data.length; i++) {
								html +=
									`<li>
											<img src="${'http://192.168.38.209:8080'+data.data[i].background_url}" alt="">
											<div class="img-select">
												<img src="../../img/select.png" alt="">
											</div>
										</li>`
							}
							document.querySelector('.bg-img-list').innerHTML = html
						},
						error: function(xhr, type, errorThrown) {
						}
					});
				}
				// imgListSearch()
				var imgUpload = function(file) {
					console.log(file)
					var form = new FormData();
					form.append('file', file)
					// form.append('token',window.location.getItem('token'))
					mui.ajax('/phone/uploadbackground.do', {
						data: form,
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						processData: false,
						contentType: false,
						cache: false,
						success: function(data) {
							console.log(data)
						},
						error: function(xhr, type, errorThrown) {
						}
					});
				}
				document.querySelector('#school-issue-all').addEventListener('tap', function() {
					var propagandaName = document.querySelector('#issue-name').value;
					if(document.querySelector('#timeSelect').innerHTML.indexOf('-') == -1){
						var startTime = "";
					}else{
						var startTime = document.querySelector('#timeSelect').innerHTML
					}
					if(document.querySelector('#timeSelect1').innerHTML.indexOf('-') == -1){
						var endTime = "";
					}else{
						var endTime = document.querySelector('#timeSelect1').innerHTML
					}
					if(document.querySelector('.top-input').value == ''){
						var upTitle = "";
					}else{
						var upTitle = document.querySelector('#title-select').innerHTML
					}
					if(document.querySelector('.top-input1').value == ''){
						var mainTitle = "";
					}else{
						var mainTitle = document.querySelector('#title-select1').innerHTML
					}
					if(document.querySelector('.top-input2').value == ''){
						var downTitle = ""
					}else{
						var downTitle = document.querySelector('#title-select2').innerHTML
					}
					if(document.querySelector('.top-input3').value == ''){
						var countDownTitle = ""
					}else{
						var countDownTitle = document.querySelector('#title-select3').innerHTML
					}
					if(document.querySelector('#timeSelect2').innerHTML.indexOf('-') == -1){
						var countDownEndTime = ""
					}else{
						var countDownEndTime = document.querySelector('#timeSelect2').innerHTML
					}
					var backgroundType = 1
					var backgroundColor = '';
					var backgroundUrl = '';
					if (document.querySelector('#obj-select').dataset.values != undefined) {
						var boardIds = document.querySelector('#obj-select').dataset.values.split(',')
					} else {
						mui.alert('请选择对象')
					}
					if (document.querySelector('.school-bg').innerHTML.indexOf('点击') != -1) {
						mui.alert('请选择背景')
					} else {
						mui('#segmentedControl a').each(function(i, v) {
							if (v.className.indexOf('mui-active') != -1) {
								if (i == 0) {
									backgroundType = 2
								} else if (i == 1) {
									backgroundType = 1
								} else {
									backgroundType = i + 1
								}
							}
						})
					}
					if (backgroundType == 1) {
						backgroundColor = document.querySelector('.school-bg').style.backgroundColor;
					} else if (backgroundType == 3) {
						backgroundUrl = ""
					} else if (backgroundType == 4) {
						backgroundUrl = document.querySelector('.live-input').value
					} else {
						backgroundUrl = document.querySelector('.school-bg').childNodes
					}
					if (backgroundType != 3) {
						mui.ajax('/phone/insertschoolpropaganda.do', {
							data: {
								propagandaName: propagandaName,
								backgroundType: backgroundType,
								backgroundColor: backgroundColor,
								backgroundUrl: backgroundUrl,
								boardIds: boardIds,
								startTime: startTime,
								endTime: endTime,
								upTitle: upTitle,
								mainTitle: mainTitle,
								downTitle: downTitle,
								countDownTitle: countDownTitle,
								countDownEndTime: countDownEndTime,
								token: window.localStorage.getItem('token')
							},
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							success: function(data) {
								console.log(data)
							},
							error: function(xhr, type, errorThrown) {
							}
						});
					} else {
						var form = new FormData();
						console.log(propagandaName)
						form.append('propagandaName', propagandaName)
						form.append('backgroundType', backgroundType)
						form.append('boardIds', boardIds)
						form.append('startTime', startTime)
						form.append('endTime', endTime)
						form.append('upTitle', upTitle)
						form.append('mainTitle', mainTitle)
						form.append('downTitle', downTitle)
						form.append('countDownTitle', countDownTitle)
						form.append('countDownEndTime', countDownEndTime)
						form.append('token', window.localStorage.getItem('token'))
						form.append('file', document.querySelector('#bg-video-upload').files[0])
						mui.ajax('/phone/propagandainsertvideo.do', {
							data: form,
							dataType: 'json', //服务器返回json格式数据
							type: 'post', //HTTP请求类型
							timeout: 10000, //超时时间设置为10秒；
							processData: false,
							contentType: false,
							cache: false,
							success: function(data) {
								console.log(data)
							},
							error: function(xhr, type, errorThrown) {
							}
						});
					}
				})
			})(mui);
			function objectData() {
				console.log(window.localStorage.getItem('token'))
				mui.ajax('/phone/selectboard.do', {
					data: {
						token: window.localStorage.getItem('token'),
						level: 1
					},
					dataType: 'json', //服务器返回json格式数据
					type: 'post', //HTTP请求类型
					timeout: 10000, //超时时间设置为10秒；
					success: function(data) {
						var con = data;
						$('#grade').empty();
						var html = "";
						for (var i = 0; i < con.length; i++) {
							var obj = con[i];
							html += '<li data-id = "' + obj.id + '">';
							if (obj.grade != "") {
								html +=
									'<div class="mui-input-row mui-checkbox mui-left subset-input">' +
									'	<label style="text-align: left;">"' + con[i].name + '"</label>' +
									'	<input name="zhege " type="checkbox" >' +
									'</div>';
							}
							var list = obj.list;
							html +=
								'<ul class="obje-grade-class flex">'
							for (var j = 0; j < list.length; j++) {
								html += '	<li data-ids = "' + list[j].id + '" class="obje-grade-class-li">' +
									'		<div>' + list[j].name + '</div>' +
									'	</li>'
							}
							html += '</ul>';
							html += '</li>';
						}
						document.querySelector('#grade').innerHTML = html;
						claDIAN();
						nianji();
						nianji12();
					},
					error: function(xhr, type, errorThrown) {
					}
				});
			}
			objectData()
			var boardIds = [];
			var boardNames = [];
			//点击班级
			function claDIAN() {
				$('.obje-grade-class-li').click(function() {
					if ($(this).hasClass('liAktv')) {
						$(this).removeClass('liAktv')
					} else {
						$(this).addClass('liAktv');
					}
					var li = $(this).parent('ul').find('li').length;
					var liAktv = $(this).parent('ul').find('.liAktv').length;
					if (li == liAktv) {
						$(this).parent('ul').siblings('div').find('input').prop('checked', true)
					} else {
						$(this).parent('ul').siblings('div').find('input').prop('checked', false)
					}
					allchk();
				})
			}
			//设置全选复选框
			function nianji() {
				$("#grade :checkbox").click(function() {
					allchk();
				});
			}
			//年级全选
			function nianji12() {
				mui('.subset-input').on('change', 'input', function() {
					if (this.checked ? "true" : "false" == true) {
						$(this).parent('div').siblings('ul').find('li').addClass('liAktv')
					} else {
						$(this).parent('div').siblings('ul').find('li').removeClass('liAktv')
					}
				});
			}
			//重置
			$(".obje-bnt-left").on("tap", function() {
				$('input:checked').prop('checked', false)
				$('.obje-grade-class-li').removeClass('liAktv')
			})
			//确定
			$('.obje-bnt-rnt').on('tap', function() {
				$('.liAktv').each(function() {
					boardIds.push($(this).attr('data-ids'));
					boardNames.push($(this).find('div').text());
					objTchu.style.display = 'none';
				});
				if (boardIds.length <= 0) {
					mui.alert('请选择一项或多项')
				} else {
					boardNames = [...new Set(boardNames)]
					boardIds = [...new Set(boardIds)]
					document.querySelector("#obj-select").innerHTML = boardNames[0] + "等" + boardNames.length + "个班牌";
					document.querySelector("#obj-select").dataset.values = boardIds.join(',')
				}
			})
			function allchk() {
				var chknum = $(".obje-grade-class-li").length; //选项总个数
				var chk = $(".liAktv").length;
				if (chknum == chk) { //全选
					$("#parent-input").prop("checked", true);
				} else { //不全选
					$("#parent-input").prop("checked", false);
				}
			}
			//父级全选/父级反选
			mui('.parent-input').on('change', 'input', function() {
				if (this.checked ? "true" : "false" == true) {
					$("#grade :checkbox").prop("checked", true);
					$('.obje-grade-class-li').addClass('liAktv')
				} else {
					$("#grade :checkbox").prop("checked", false);
					$('.obje-grade-class-li').removeClass('liAktv')
				}
			});
		</script>
	</body>

</html>